<header class="site-header">
<div class="container">
    <a class="site-header-logo" href="{{ site.baseurl }}/">
        <img id="logo" class="logo" src="{{ site.baseurl }}/assets/logo.png"/>
    </a>
    <nav class="site-header-nav">
        <a class="site-header-nav-item" href="{{ site.baseurl }}/">Home</a>
        <a class="site-header-nav-item" href="{{ site.baseurl }}/teaching">Teaching Material</a>
        <a class="site-header-nav-item" href="{{ site.baseurl }}/gallery">Gallery</a>
    </nav>
</div>
</header>